[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "content/posts"]
	path = content/posts
	url = git@github.com:fchabouis/normes-tc-content-test.git
