[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "content/normes"]
	path = content/normes
	url = https://github.com/etalab/transport-normes
	branch = parkings-tarifs-en-pdf
